<%= @employee.errors.inspect %>
<%= simple_form_for @employee do |f| %>
    <h2>Personal Details</h2>
    <div class="row">
        <div class="col-md-6">
            <%= f.input :first_name, label: 'First Name'%>
        </div>
        <div class="col-md-6">
            <%= f.input :last_name, label: 'Last Name' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= f.input :sex, collection: ["Female", "Male"], default: false %>
        </div>
        <div class="col-md-3">
            <%= f.input :civil_status, collection: ["Single", "Married", "Solo Parent"], include_blank: false %>
        </div>
        <div class="col-md-3">
            <%= f.input :birthday, html5: true, input_html: {min: 64.years.ago.to_s[0..9], max: 18.years.ago.to_s[0..9]} %>
        </div>
        <div class="col-md-3">
            <%= f.input :contact_number, input_html: {maxlength: 11, pattern: "[0-9]*", inputmode: "numeric"}, label: 'Contact Number' %>
        </div>
    </div>
    <h2>Government ID Details</h2>
    <div class="row">
        <div class="col-md-3">
            <%= f.input :pagibig_number, input_html: {maxlength: 12, pattern: "[0-9]*", inputmode: "numeric"}, label: 'PAGIBIG Number' %>
        </div>
        <div class="col-md-3">
            <%= f.input :sss_number, input_html: {maxlength: 10, pattern: "[0-9]*", inputmode: "numeric"}, label: 'SSS Number' %>
        </div>
        <div class="col-md-3">
            <%= f.input :philhealth_number, input_html: {maxlength: 12, pattern: "[0-9]*", inputmode: "numeric"}, label: 'PhilHealth Number' %>
        </div>
        <div class="col-md-3">
            <%= f.input :tin_number, input_html: {maxlength: 9, pattern: "[0-9]*", inputmode: "numeric"}, label: 'TIN Number' %>
        </div>
    </div>
    <h2>Employment Details</h2>
    <div class="row">
        <div class="col-md-12">
            <%= f.input :employment_date, html5: true, label: 'Employment Date'%>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%= f.input :shift_start_time, html5: true, label: 'Shift Start Time' %>
        </div>
        <div class="col-md-6">
            <%= f.input :shift_end_time, html5: true, label: 'Shift End Time' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%= f.association :salary_grade, label: 'Salary Grade', include_blank: false %>
        </div>
        <div class="col-md-6">
            <%= f.input :day_off, collection: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], include_blank: false, label: "Day Off" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <abbr title="required">*</abbr> Required Fields
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <%= f.button :submit, class: 'btn btn-primary btn-block' %>
        </div>
    </div>
<% end %>