<% if @employees.empty? %>
    <div class="vertical-align">
        <h1 class="centered">It looks a little empty in here.</h1>
        <i class="fas fa-user-circle fa-7x blocked auto"></i>
        <h3 class="centered">Add an employee now</h3>
        <div class="col-md-4 offset-md-4">
            <%= link_to 'Add Employee', new_employee_path, class: 'btn btn-outline-primary btn-block' %>
        </div>
    </div>
<% else %>
    <br>
    <h1 class="centered" >Employee Dashboard</h1>
    <a href="<%= new_employee_path %>" class="btn btn-outline-primary btn-block"><i class="fas fa-user-plus"></i> Add Employee</a>
    <hr>
    <div class="row">
        <% @employees.each do |employee| %>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= employee %></h5>
                        <p class="card-subtitle mb-2 text-muted">Contact Number: <a href="tel:<%= employee.contact_number %>"><%= employee.contact_number %></a></p>
                        <% if employee.employment_status == "Probation" %>
                            <p class="card-subtitle mb-2 text-muted">Employment Status: <span class="text-warning"><%= employee.employment_status %></span></p>
                        <% elsif employee.employment_status == "Regular" %>
                            <p class="card-subtitle mb-2 text-muted">Employment Status: <span class="text-warning"><%= employee.employment_status %></span></p>
                        <% elsif employee.employment_status == "Terminated" %>
                            <p class="card-subtitle mb-2 text-muted">Employment Status: <span class="text-warning"><%= employee.employment_status %></span></p>
                        <% end %>
                        <p class="card-text">
                            Shift: <%= employee.shift %>
                        </p>
                        <%= link_to "View Profile", employee_path(employee), class: 'card-link btn btn-outline-primary' %>
                        <%= link_to "Edit Profile", edit_employee_path(employee), class: 'card-link btn btn-outline-info' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>